# As documented at: 
# https://documentation.online.net/en/dedicated-server/network/ipv6/prefix

{% for interface in net_interfaces %}
{%   if interface.DHCPv6_DUID is defined %}
interface "{{ interface.name }}" {
   send dhcp6.client-id {{ interface.DHCPv6_DUID }};
}

{%   endif %}
{% endfor %}